@use "@rewdy/aeraline/scss" as lib with (
  $font-family-base: "'Lato', sans-serif",
  $font-weight-normal: 300,
  $font-family-heading: "'Abril Fatface', serif",
  $font-weight-heading-bold: 400,
  $base-font-size: 20px
);

@include lib.ratio-typography();
@include lib.extra-flexbox();
// @include lib.flexbox-grid();

body {
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-optical-sizing: auto;
}

.d-flex.spread > * {
  box-sizing: content-box;
  width: calc(25% - var(--spacing-md));
  @media only screen and (max-width: 768px) {
    width: calc(50% - var(--spacing-md));
  }
  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}
